.legend-container {
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  margin-bottom: 10px;

  @media (max-width: 768px) {
    /* Styles for screens up to 768px (e.g., mobile) */
    margin-top: 0;
    flex-direction: column;
  }
}



.legend-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid #000;
}

/* Ship-specific colors */
.aircraftCarrier {
  background-color: #3333ff; /* Aircraft Carrier color */
}

.battleship {
  background-color: #ff9900; /* Battleship color */
}

.cruiser {
  background-color: #33cc33; /* Cruiser color */
}

.submarine {
  background-color: #ffcc00; /* Submarine color */
}

.destroyer {
  background-color: #ff6666; /* Destroyer color */
}